@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(59, 59, 59);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  text-align: center;
}
#username-display {
  right: 0;
  color: rgb(211, 77, 0);
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  background-color: rgb(47, 47, 47);
  margin: 10px;
  margin-right: 50px;
  position: fixed;
  padding: 5px 10px 5px 10px;
  width: fit-content;
  border-radius: 10px;
}

.heading {
  color: rgb(211, 77, 0);
  font-family: "Roboto Mono", monospace;
  font-size: 27px;
  margin-bottom: 20px;
}

label.content {
  font-weight: 200;
}

.center-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(47, 47, 47);
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  padding: 15px 100px 15px 100px;
  background-color: rgb(172, 63, 0);
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: white;
}

.login-button:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}

.likes-count {
  margin-right: 5px;
}

.login-button:active {
  background-color: white;
  color: rgb(47, 47, 47);
}

.inputs {
  background-color: rgb(31, 31, 31);
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-weight: 200;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 400px;
}

.content {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-weight: 200;
  font-size: 17px;
  word-break: break-word;
}

.card {
  margin: 50px;
  padding: 30px;
  border-radius: 30px;
  background-color: rgb(47, 47, 47);
  display: flex;
}

.left-container {
  flex-grow: 1;
}

#cards-wrapper {
  width: 50%;
  margin-top: 50px;
}

.likes-dislikes-individual {
  display: flex;
  cursor: pointer;
}

span {
  color: white;
}

.likes-dislikes {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.likes-dislikes-individual > * + * {
  margin-left: 5px;
}

.likes-dislikes > * + * {
  margin-left: 5px;
}
#content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 300px;
}

.create-post {
  text-decoration: none;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(172, 63, 0);
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  color: white;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
  position: fixed;
}

.create-post:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}

.create-post:active {
  background-color: white;
  color: rgb(47, 47, 47);
}

.delete-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
